# Database
DB_URL=jdbc:postgresql://postgres:5432/iam_db
DB_USERNAME=postgres
DB_PASSWORD=postgres

# RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=rabbitmq
RABBITMQ_PASSWORD=rabbitmq

# JWT — generar con: openssl rand -hex 32
JWT_ACCESS_SECRET=REPLACE_WITH_64_CHAR_HEX_SECRET
JWT_REFRESH_SECRET=REPLACE_WITH_64_CHAR_HEX_SECRET
JWT_ACCESS_EXPIRATION_MS=900000
JWT_REFRESH_EXPIRATION_MS=604800000

# Eureka
EUREKA_URL=http://eureka-server:8761/eureka

# Spring
DDL_AUTO=update
PORT=8081
